* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  background-image: url(images/fffluxsolar.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 100vw;
  height: 100vh;
}
.main video {
  min-width: 100%;
  min-height: 100%;
  object-fit: fill;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.main header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
  width: 100%;
  padding-bottom: 1rem;
}
.bungie {
  position: absolute;
  width: 100%;
}
.bungie img {
  margin: 1rem 1rem;
  color: white;
  object-fit: cover;
  width: 11%;
}
.main header nav {
  margin: 0px 40px;
}
.main header nav ul {
  gap: 3rem;
  width: 100%;
  margin: 20px 0px;
  font-size: 1.1rem;
  list-style-type: none;
}
.main header ul li {
  position: relative;
  float: left;
  text-shadow: 0 0 10px white;
  padding: 5px;
}

.main header nav ul li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  transition: all 1s;
}
.main header nav ul li a:hover {
  transform: translateY(-3px);
  text-shadow: 0 0 10px white, 0 0 20px white;
}

.main header nav .playbtn {
  background-color: #967523;
  padding: 0px;
  font-weight: 600;
  border-radius: 20px;
  transition: all 1s;
  margin-left: 20px;
}
.playbtn:hover {
  border-radius: 20px;
  transform: translateY(-5px);
  box-shadow: 0px 0px 90px #967523, 0 0 40px #967523;
  cursor: pointer;
}

[class*="submenu"] {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 35px;
  z-index: 1;
  transition: all 1s;
}
[class*="submenu"] li {
  text-align: center;
  margin-bottom: 5px;
  border-radius: 10px;
  border-left: 2px double #ffffffb3;
  border-right: 2px double #ffffffb3;
  background-color: rgba(0, 0, 0, 0.285);
  width: 100%;
}

li:hover [class*="submenu"] {
  float: none;
  opacity: 1;
  padding: 8px;
  top: 40px;
  visibility: visible;
}
ul.submenu1 li:nth-child(1) a {
  color: #027ca1;
  text-shadow: 0 0 10px #027ca1;
}
ul.submenu2 li:nth-child(1) a {
  color: #407daa;
  text-shadow: 0 0 10px #407daa;
}
ul.submenu1 li:nth-child(1) a:hover {
  text-shadow: 0 0 10px #027ca1, 0 0 20px #027ca1;
}
ul.submenu2 li:nth-child(1) a:hover {
  text-shadow: 0 0 10px #407daa, 0 0 20px #407daa;
}
/* ............................................................. */
ul.submenu1 li:nth-child(2) a {
  color: #c39323;
  text-shadow: 0 0 10px #c39323;
}
ul.submenu2 li:nth-child(2) a {
  color: #fa7315;
  text-shadow: 0 0 10px #fa7315;
}

ul.submenu1 li:nth-child(2) a:hover {
  text-shadow: 0 0 10px #c39323, 0 0 20px #c39323;
}
ul.submenu2 li:nth-child(2) a:hover {
  text-shadow: 0 0 10px #fa7315, 0 0 20px #fa7315;
}
/* ................................................................. */

ul.submenu1 li:nth-child(3) a {
  color: #ac3033;
  text-shadow: 0 0 10px #ac3033;
}
ul.submenu2 li:nth-child(3) a {
  color: #6e4ab3;
  text-shadow: 0 0 10px #6e4ab3;
}
ul.submenu1 li:nth-child(3) a:hover {
  text-shadow: 0 0 10px #ac3033, 0 0 30px #ac3033;
}
ul.submenu2 li:nth-child(3) a:hover {
  text-shadow: 0 0 10px #6e4ab3, 0 0 20px #6e4ab3;
}

.title {
  color: white;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title img {
  position: absolute;
  width: 45%;
  filter: blur(15px);
  z-index: 1;
  object-fit: cover;
}

.title h1 {
  z-index: 2;
}

h1,
h2 {
  color: white;
  padding: 5px 20px;
  font-family: "Mulish", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
  margin: 2rem 0.5rem;
  font-size: 5rem;
  text-shadow: 0 0 10px black, 0 0 60px black, 0 0 80px black;
}

p {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  width: 70%;
  line-height: 30px;
  letter-spacing: 1px;
  margin: 1rem 1rem;
}
.overview {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fca365;
  padding: 30px;
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.502),
    rgb(0, 0, 0) 20%,
    rgb(0, 0, 0) 80%,
    rgba(0, 0, 0, 0.502)
  );
}

.overview h2 {
  font-size: 4rem;
  text-decoration: underline;
  text-underline-offset: 10px;
  margin: 1rem 0 2rem 0;
}

.overviewbox .line {
  border-right: 3px solid #ffffff;
}

.overviewbox {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.overviewbox i {
  color: rgb(255, 255, 255);
  font-weight: 900;
  text-shadow: 0 0 10px black;
}
.overview p {
  text-shadow: 0 0 10px black;
  text-align: justify;
  margin: 0 0;
  width: 50%;
  justify-self: center;
  align-self: center;
}

.overviewbox img {
  object-fit: cover;
  width: 40%;
  border-radius: 10px;
}

.guardiantitle {
  text-align: center;
  margin: 15rem 0 0;
}
.guardiantitle h1 {
  font-size: 4rem;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.guardiansbox {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.guardiansbox h2 {
  text-shadow: 0 0 10px black, 0 0 60px black, 5px 5px 20px #fca365;
  font-size: 3rem;
  border-bottom: 1px solid white;
}

.guardiansbox p {
  text-shadow: 0 0 5px white;
  text-align: justify;
  margin: 0 2rem;
  width: 80%;
  background-color: #19181620;
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(100px);
}

.guardiansbox .btn {
  margin: 2rem 2rem;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  background-color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px white, 0 0 10px white;
  color: white;
  transition: all 1s;
  cursor: pointer;
}

.guardiansbox .btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 100px white;
}

.guardiansbox img {
  width: 50%;
  height: 90%;
  object-fit: cover;
  margin: 0 0;
  border-radius: 30px;
  padding: 20px 20px 20px 0;
}

.guardians {
  display: flex;
  align-self: center;
  width: 60%;
}

.guardian2 p {
  float: right;
  text-align: right;
}
.guardian2 button {
  float: right;
}

.guardian2 h2 {
  text-align: right;
}

.guardian1 .btn {
  color: white;
  background-color: #c39323;
  box-shadow: 0 0 10px #c39323, 0 0 10px #c39323;
}
.guardian2 .btn {
  color: white;
  background-color: #027ca1;
  box-shadow: 0 0 10px #027ca1, 0 0 10px #027ca1;
}
.guardian3 .btn {
  color: white;
  background-color: #ac3033;
  box-shadow: 0 0 10px #ac3033, 0 0 10px #ac3033;
}

.verbtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem 0 0;
}
.verbtitle h2 {
  font-size: 4rem;
  text-decoration: underline;
  text-underline-offset: 10px;
}
.verbtitle p {
  text-shadow: 0 0 20px black, 0 0 2px white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 10px;
  backdrop-filter: blur(100px);
}

.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 5rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -200px;
  }
}

.item {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: #000000c9;
  border-radius: 6px;
  left: max(calc(200px * 8), 100%);
  animation: scrollLeft 15s linear infinite;
}
.item-2 {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: #fca365;
  border-radius: 6px;
  right: max(calc(200px * 8), 100%);
  animation: scrollRight 15s linear infinite;
}
.item-2 p {
  text-align: center;
}
.item p {
  text-align: center;
}

.item1 {
  animation-delay: calc(15s / 8 * (8 - 1) * -1);
}
.item2 {
  animation-delay: calc(15s / 8 * (8 - 2) * -1);
}
.item3 {
  animation-delay: calc(15s / 8 * (8 - 3) * -1);
}
.item4 {
  animation-delay: calc(15s / 8 * (8 - 4) * -1);
}
.item5 {
  animation-delay: calc(15s / 8 * (8 - 5) * -1);
}
.item6 {
  animation-delay: calc(15s / 8 * (8 - 6) * -1);
}
.item7 {
  animation-delay: calc(15s / 8 * (8 - 7) * -1);
}
.item8 {
  animation-delay: calc(15s / 8 * (8 - 8) * -1);
}
.item9 {
  animation-delay: calc(15s / 8 * (8 - 1) * -1);
}
.item10 {
  animation-delay: calc(15s / 8 * (8 - 2) * -1);
}
.item11 {
  animation-delay: calc(15s / 8 * (8 - 3) * -1);
}
.item12 {
  animation-delay: calc(15s / 8 * (8 - 4) * -1);
}
.item13 {
  animation-delay: calc(15s / 8 * (8 - 5) * -1);
}
.item14 {
  animation-delay: calc(15s / 8 * (8 - 6) * -1);
}
.item15 {
  animation-delay: calc(15s / 8 * (8 - 7) * -1);
}
.item16 {
  animation-delay: calc(15s / 8 * (8 - 8) * -1);
}
